houses.egg-info
mlruns
build
dist
houses_pipeline.egg-info
.tox
# data files

!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# data/raw/*.csv
# data/raw/*.zip
# data/raw/*.txt
data/interim/*.csv
data/processed/*.csv

!models/.gitkeep
models/*.pkl

logs/*.log*
!logs/.gitkeep
