[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"
[BASIC]
# Good variable names which should always be accepted, separated by a comma.
good-names=i, j, k, ex, Run, df, l, l1, l2, l3, df, X, y, columns, Xt, yt, y_transformed, X_transformed, X_train, y_train, X_test, y_test

# ignore rules
disable=too-many-arguments, no-value-for-parameter
