include *.yaml
include *.yml
include MLProject
include VERSION
include models
recursive-include houses_pipeline *.gitkeep
recursive-include houses_pipeline *.py
recursive-include houses_pipeline *.sh
